*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
target/m2e-wtp/web-resources/META-INF/maven/mum.waa/TheCoffeeShop/pom.xml

target/m2e-wtp/web-resources/META-INF/maven/mum.waa/TheCoffeeShop/pom.properties

target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

target/classes/mum/waa/coffee/exception/HttpNotFoundErrorException.class

target/classes/mum/waa/coffee/exception/UsernameTakenException.class

target/classes/mum/waa/coffee/repository/PersonRepository.class

target/classes/mum/waa/coffee/repository/RoleRepository.class

target/classes/mum/waa/coffee/repository/ProductRepository.class

target/m2e-wtp/web-resources/META-INF/maven/mum.waa/TheCoffeeShop/pom.properties

target/m2e-wtp/web-resources/META-INF/maven/mum.waa/TheCoffeeShop/pom.xml

target/classes/mum/waa/coffee/service/PersonService.class

*.class

target/classes/mum/waa/coffee/service/impl/PersonServiceImpl.class

*.class

target/classes/mum/waa/coffee/service/impl/PersonServiceImpl.class

*.class

*.class

*.class

*.class
