body {
	font: normal medium/1.4 sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 0.25rem;
	text-align: left;
	border: 1px solid #ccc;
}

tbody tr:hover {
	background: #F8F8FF;
}

div.languageBar {
	float: right;
}

div.navigationBar {
	float: left;
}

div.authenticationBar {
	float: right;
}

div #outer {
	display: table;
	height: 100%;
	margin: 0 auto;
}

div #inner {
	display: table-cell;
	vertical-align: middle;
	width: 300px;
	font-size: 16px;
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input #btnLogin {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div .errors {
	color: red;
}

div.footer {
	text-align: center;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

/* #global {
    text-align: left;
    border: 1px solid #dedede;
    background: khaki;
    width: 560px;
    padding: 20px;
    margin: 100px auto;
}

form {
  font:100% verdana;
  min-width: 500px;
  max-width: 600px;
  width: 560px;
}

form fieldset {
  border-color: darkblue;
  border-width: 3px;
  margin: 0;
}

legend {
 	color: khaki;
    background:darkblue;
 	font-size: 1.3em;
}

form label { 
    width: 250px;
    display: block;
    float: left;
    text-align: right;
    padding: 2px;
}

#buttons {
    text-align: right;
}
#errors, li {
	color: red;
} */