body {
	font: normal medium/1.4 sans-serif;
}

/* table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 0.25rem;
	text-align: left;
	border: 1px solid #ccc;
}

tbody tr:hover {
	background: #F8F8FF;
}
 */
div.languageBar {
	float: right;
}

div.navigationBar {
	float: right;
	clear: left;
}

div.footer {
	text-align: center;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

/* #global {
    text-align: left;
    border: 1px solid #dedede;
    background: khaki;
    width: 560px;
    padding: 20px;
    margin: 100px auto;
}

form {
  font:100% verdana;
  min-width: 500px;
  max-width: 600px;
  width: 560px;
}

form fieldset {
  border-color: darkblue;
  border-width: 3px;
  margin: 0;
}

legend {
 	color: khaki;
    background:darkblue;
 	font-size: 1.3em;
}

form label { 
    width: 250px;
    display: block;
    float: left;
    text-align: right;
    padding: 2px;
}

#buttons {
    text-align: right;
}
#errors, li {
	color: red;
} */