#errors {
	position: absolute;
	top: 300px;
	left: 200px;
	background-color: LightBlue;
	width: 375px;
	height: 175px;
	z-index: 9002;
	border-style: solid;
	border-color: blue;
}

#errors, li {
	color: FireBrick;
}

#formInput {
	position: absolute;
	top: 300px;
	left: 700px;
	background-color: #f2f2f2;
	width: 400px;
	height: 250px;
	z-index: 9002;
	border-style: solid;
	border-radius: 5px;
	border-color: #f2f2f2;
}
